<h2><%= current_user.email + "'s" + " Events"%> </h2>
<ul>
  <% @created_events.each do |created_event| %>
    <li>
      <%= created_event.event_name %>
    </li>
    <li>
      <%= created_event.event_location %>
    </li>
    <li>
      <%= created_event.event_date %>
    </li>
  <% end %>
</ul>

<h2>Previously Attended Events</h2>
 <ol>
    <% @past_events.each do |past_event| %>
    <li>
      <%= past_event.event_name %>
    </li> 
    <% end %>
 </ol>

 <h2>Upcoming Events</h2>
 <ol>
    <% @upcoming_events.each do |upcoming_event| %>
    <li>
      <%= upcoming_event.event_name %>
    </li> 
    <% end %>
 </ol>