<h2><%= current_user.email + "'s" + " Events"%> </h2>
<ul>
  <% @created_events.each do |created_event| %>
    <li>
      <span class="fw-bold"><%= created_event.event_name%></span>
      <span class="px-4"><%= created_event.event_location%></span>
      <span class="px-4"><%= created_event.event_date%></span>
    </li>
  <% end %>
</ul>

<%if @past_events.any? %>
  <h2>Previously Attended Events</h2>
 <ol>
    <% @past_events.each do |past_event| %>
    <li>
      <%= past_event.event_name %>
    </li> 
    <% end %>
 </ol>
<% end %>

<% if @upcoming_events.any? %>
  <h2>Upcoming Events</h2>
 <ol>
    <% @upcoming_events.each do |upcoming_event| %>
    <li> 
      <%= upcoming_event.event_name %>
    </li> 
    <% end %>
 </ol>
<% end %>
 