<h1>My events</h1>

<ul>
  <% @events.each do |event| %>
    <li>
      <%= event.event_name %>
    </li>
    <li>
      <%= event.event_location %>
    </li>
    <li>
      <%= event.event_date %>
    </li>
  <% end %>
</ul>

<h1>Attended Events</h1>

<h2>Previously Attended Events</h2>
 <ol>
    <% current_user.attended_events.previous.each do |past_event| %>
    <li>
      <%= past_event.event_name %>
    </li> 
    <% end %>
 </ol>

 <h2>Upcoming Events</h2>
 <ol>
    <% current_user.attended_events.upcoming.each do |upcoming_event| %>
    <li>
      <%= event.event_name %>
    </li> 
    <% end %>
 </ol>