<br>
<h1>All Events</h1>
  <h2>Past Events</h2>
  <% Event.previous_events.each do |event| %>
    <ul>
      <li>
          <span> <%= event.event_name %> </span>
          <span class= "px-4"> <%= event.event_location %> </span>
          <span class= "px-4"> <%= event.event_date %> </span>
      </li>
    </ul>
    <hr>
  <% end %>

  <h2>Upcoming Events</h2>
  <% Event.upcoming_events.each do |event| %>
    <ul>
      <li>
          <span> <%= event.event_name %> </span>
          <span class= "px-4"> <%= event.event_location %> </span>
          <span class= "px-4"> <%= event.event_date %> </span>
      </li>
    </ul>
    <hr>
  <% end %>

<%= link_to "New Events", new_event_path %>
