<br>
<h1>All Events</h1>
  <h2>Past Events</h2>
  <% @past_events.each do |past_event| %>
    <ul>
      <li>
          <span> <%= past_event.event_name %> </span>
          <span class= "px-4"> <%= past_event.event_location %> </span>
          <span class= "px-4"> <%= past_event.event_date %> </span>
      </li>
      <%= link_to "Show Event details",event_path(past_event), class: "btn btn-warning text-dark" %>
    </ul>
    <hr>
  <% end %>

  <h2>Upcoming Events</h2>
  <% @upcoming_events.each do |upcoming_event| %>
    <ul>
      <li>
          <span> <%= upcoming_event.event_name %> </span>
          <span class= "px-4"> <%= upcoming_event.event_location %> </span>
          <span class= "px-4"> <%= upcoming_event.event_date %> </span>
      </li>
    </ul>
    <hr>
  <% end %>

<% if user_signed_in? %>
  <%= link_to "Create New Event", new_event_path, class: "btn btn-warning text-dark" %>
<% end %>
