<br><br>
<h2>Upcoming Events</h2>
<%= form_with model: @event, method: :POST do |form|%>
  <%= form.label :event_name, "Event name:" %> <br>
  <%= form.text_field :event_name%> <br><br>
  <%= form.label :event_location,"Venue:" %> <br>
  <%= form.text_field :event_location%><br><br>
  <%= form.label :event_date, "Date:" %> <br>
  <%= form.datetime_field :event_date%><br>
  <%= form.submit "Set event"%>
<% end %>