<h1>Event Details</h1>

<p><%= @event.event_name %></p>

<p> <%= @event.event_location %></p>

<p> <%= @event.event_date %></p>

<%
=begin%>
 <% if !@event.attendees.include?(current_user.email) %>
      <%= link_to 'Attend',turnouts_path(turnout: {event_id:@event.id, attendee_id:current_user.id}), method: :post,class:"btn bg-warning text-dark"%>
<% end %> 
<%
=end%>



 <% if attendable?(@event, current_user) %>
  <%= link_to 'Attend',turnouts_path(turnout: {event_id:@event.id, attendee_id:current_user.id}), method: :post,class:"btn bg-warning text-dark"%>
<% end %> 

<h2>List of Attendees</h2>
 <ol>
    <% @event.attendees.each do |attendant| %>
    <li>
      <%= attendant.email %>
    </li>
    <% end %>
 </ol>